//Colors
$mint-cream: #CEE7E6;
$white: #fff;
$black: #000;
$ash-gray: #7cdf64;
$red: #bd2732;
$gray: #454545;
$dark-green: #144A18;
$ligth-green: #5C9644;

//Viewports 
$mobile-width: 767px;