.direction {

    @media (max-width: $mobile-width) {
        margin: 0 auto;
    }

    &__list {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    &__text {
        @media (max-width: $mobile-width) {
            text-align: center;
            width: 300px;
            margin: 0 auto;
        }
    }
}