.footer {
    background-color: $ligth-green;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 40px 0;
    width: 100%;
    overflow: visible;
    margin-top: auto;
    
    @media (max-width: 1219px) {
        width: 1260px;
    }

    @media (max-width: $mobile-width) {
        padding: 40px 0;
        margin: 0 auto;
        width: 100%;
    }
    
    &__area {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        align-items: flex-start;
        column-gap: 60px;

        @media (max-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 320px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        
        @media (max-width: $mobile-width) {
            text-align: center;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
    }

    &__text,
    &__adress,
    &__email,
    &__tel,
    &__chief {
        font-size: 13px;
        text-decoration: none;
        color: $white;
        position: relative;
        margin: 10px 0;

        @media (max-width: $mobile-width) {
            text-align: center;
        }
    }

    &__text--main,
    &__adress--main,
    &__email--main,
    &__tel--main,
    &__chief--main {
        font-size: 13px;
        text-decoration: none;
        color: $black;
        position: relative;
        margin: 10px 35px;

        @media (max-width: $mobile-width) {
            text-align: center;
        }
    }

    &__chief--main {
        margin-bottom: 60px;
    }

    &__adress::before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background-image: url(/src/images/icons/basic-location-map-svgrepo-com.svg);
        background-size: contain;
        left: -35px;
        top: 0;

        @media (max-width: $mobile-width) {
            display: none;
        }
    }

    &__email::before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background-image: url(/src/images/icons/basic-message-ui-svgrepo-com.svg);
        background-size: contain;
        left: -35px;
        top: -5px;

        @media (max-width: $mobile-width) {
            left: 60px;
        }
    }

    &__tel::before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background-image: url(/src/images/icons/basic-call-phone-svgrepo-com.svg);
        background-size: contain;
        left: -35px;
        top: -5px;

        @media (max-width: $mobile-width) {
            left: 60px;
        }
    }

    &__chief::before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        background-image: url(/src/images/icons/basic-profile-ui-svgrepo-com.svg);
        background-size: contain;
        left: -35px;
        top: -5px;

        @media (max-width: $mobile-width) {
            left: -20px;
        }
    }

    &__map {
        margin-left: auto;

        @media (max-width: $mobile-width) {
            margin: 0 auto;
        }
    }
}